<!doctype html>
{%load static%}
<html lang="ar" ></html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}Недвижимость{%endblock%}</title>
  </head>
  <body>
{% include 'inc/_nav.html'%}
<div class = "container-mt-3">
    <div class = "row">
        {%block sidebar%}
        {%include 'inc/_sidebar.html'%}
        {%endblock%}
        <div class = "col-md-7">
        <div align = 'center'>
            <h2>Недвижимость:</h2>
            </div>
        {% for i in realobjects%}
            <div align = 'center'>
          <div class="card mb-3">
            <div class="card-header">
              <h3>{{ i.adress }}</h3>
            <div class="card-body">
              <div class= "media">
                {%if i.photo%}
                <img src = {{ i.photo.url }} alt = "", width = "500" class = 'mr-3'>
                {%else%}
                <img src = 'https://picsum.photos/seed/picsum/200/300' alt = "", width = "500" class = 'mr-3'>
                {%endif%}
              <div class = "media.body">
              <h4 class="card-title">Категория: {{i.category}}</h4>
              <p class="card-text">{{i.description}}</p>
              <a href= "{{i.get_absolute_url}}" class="btn btn-primary">Узнать подробнее</a>
              </div>
            </div>
          </div>
        </div>
            </div>
            </div>

    {% endfor %}

  </div>
      </div>
    </div>
</div>
    {% if messages%}
   {% for message in messages%}
    {% if message.tags == 'error'%}
    <div class="alert alert-danger" role="alert">
  {{message}}
    </div>
    {%else%}
    <div class="alert alert-{{message.tags}}" role="alert">{{message}}</div>
    {%endif%}
    {%endfor%}
    {%endif%}




    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

{% if page_obj.has_other_pages%}
<nav aria-label="...">

  <ul class="pagination">

       {% if page_obj.has_previous%}
      <li class="page-item">
      <a class="page-link" href="?page={{page_obj.previous_page_number}}" >Назад</a>
      </li>
      {%endif%}
    {% for i in page_obj.paginator.page_range%}
      {% if page_obj.number == i %}
          <li class="page-item active" aria-current="page">
          <a class="page-link" href="?page{{i}}">{{i}}</a></li>
      {%elif i > page_obj.number|add:-3 and i < page_obj.number|add:3  %}
      <li class="page-item" >
          <a class="page-link" href="?page={{i}}">{{i}}</a></li>
      {% endif%}
    {%endfor%}
      {% if page_obj.has_next%}
      <li class="page-item">
      <a class="page-link" href="?page={{page_obj.next_page_number}}" >Далее</a>
      </li>
      {%endif%}

  </ul>
</nav>
{%endif%}

  </body>
</html>