{%extends 'base.html' %}
<div align = 'left'>
{% block title%}Размещение недвижимости{%endblock%}
<div align = 'left'>
{%block  sidebar %}
<div class = "container mt-3">
<!--  <h1>Доступная недвижимость</h1>   --!>
    <div class="list-group">
</div>
</div>

{%endblock%}
</div>

{% block content %}

<h1>Размещение недвижимости</h1>
    <form action = "{%url 'i'%}" method = 'post'>
        {%csrf_token%}
        {{form.as_p}}
{%comment%}
  <div class="form-group">
    <label for="{{form.description.id_for_label}}" class="form-label">Описание:</label>
      {{form.description}}
    <div class = 'invalid feedback'>
        {{form.description.errors}}
        </div>
      </div>
        <div class="form-group">
    <label for="{{form.adress.id_for_label}}" class="form-label">Адрес:</label>
      {{form.adress}}
    <div class = 'invalid feedback'>
        {{form.adress.errors}}
        </div>
      </div>
        <label for="{{form.category.id_for_label}}" class="form-label">Категория:</label>
      {{form.category}}
    <div class = 'invalid feedback'>
        {{form.category.errors}}
        </div>
      </div>
 </form>
      {%endcomment%}

        <button type = 'submit' class = 'btn btn-primary btn-block'>Разместить недвижимость
        </button>
    </form>

  {%endblock%}
</div>
