{%extends 'base.html' %}

{% block title%}{{ c.title }} {%endblock%}

{%block  sidebar %}
<div class = "container mt-3">
  <h1>Доступная недвижимость</h1>
    <div class="list-group">
</div>

{%endblock%}


{% block content %}
{% for i in n%}
  <div class = "row">

   <div class="card mg-3">
  <div class="card-header">

                <h4>{{ i.adress }}</h4>

  </div>
  <div class="card-body">
    <div class= "media">
      <img src = {{ i.photo.url }} alt = "", width = "450" >

    <div class = "media.body">

        <h5 class="card-title">Категория: {{i.category}}</h5>
    <p class="card-text">{{i.description}}</p>
    <a href="{{i.get_absolute_url}}" class="btn btn-primary">Узнать подробнее</a>
    </div>
  </div>
  </div>
</div>

  </div>

</div>
{%endfor%}
  {%endblock%}
