{%extends 'base.html' %}

{% block title%}{{ title }} {%endblock%}

{% block sidebar %}
{%include 'inc/_sidebar.html'%}
{% endblock %}

<div class = "col-md-8">
        <div align = 'center'>
            <h2>Недвижимость:</h2>
        {% for i in realobjects%}

          <div class="card mb-3">
            <div class="card-header">
              <h3>{{ i.adress }}</h3>
            <div class="card-body">
              <div class= "media">
                {%if i.photo%}
                <img src = {{ i.photo.url }} alt = "", width = "500" class = 'mr-3'>
                {%else%}
                <img src = 'https://picsum.photos/seed/picsum/200/300' alt = "", width = "500" class = 'mr-3'>
                {%endif%}
              <div class = "media.body">
              <h4 class="card-title">Категория: {{i.category}}</h4>
              <p class="card-text">{{i.description}}</p>
              <a href= "{{i.get_absolute_url}}" class="btn btn-primary">Узнать подробнее</a>
                  {% endfor %}
              </div>
            </div>
          </div>
        </div>
            </div>
            </div>
            </div>





