{% extends 'base.html' %}

      {% block sidebar %}
      {% endblock %}
      <div class = "col-md-10">
        <div align = 'center'>
            <h2>Недвижимость:</h2>
        {% for i in realobjects%}
            <div align = 'center'>
          <div class="card mb-3">
            <div class="card-header">
              <h3>{{ i.adress }}</h3>
            <div class="card-body">
              <div class= "media">
                {%if i.photo%}
                <img src = {{ i.photo.url }} alt = "", width = "500" class = 'mr-3'>
                {%else%}
                <img src = 'https://picsum.photos/seed/picsum/200/300' alt = "", width = "500" class = 'mr-3'>
                {%endif%}
              <div class = "media.body">
              <h4 class="card-title">Категория: {{i.category}}</h4>
              <p class="card-text">{{i.description|safe}}</p>
              <a href= "{{i.get_absolute_url}}" class="btn btn-primary">Узнать подробнее</a>
              </div>
            </div>
          </div>
        </div>
            </div>
            </div>
            </div>
    {% endfor %}

  </div>
      </div>
<div>
<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item disabled">
      <a class="page-link">Назад</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Далее</a>
    </li>
  </ul>

</nav>
  </div>
  </div>