{% extends 'base.html' %}

{% block sidebar %}
{%include 'inc/_sidebar.html'%}

{% endblock %}


{% block content %}

  <div class = "row">
    {% for i in realobjects%}
   <div class="card mg-8">
  <div class="card-header">

    <h3>{{ i.adress }}</h3>

  </div>
  <div class="card-body">
    <div class= "media">
      {%if i.photo%}
      <img src = {{ i.photo.url }} alt = "", width = "500" class = 'mr-3'>
      {%else%}
      <img src = 'https://picsum.photos/seed/picsum/200/300' alt = "", width = "500" class = 'mr-3'>
      {%endif%}
    <div class = "media.body">

        <h4 class="card-title">Категория: {{i.category}}</h4>

    <p class="card-text">{{i.description}}</p>
    <a href= "{{i.get_absolute_url}}" class="btn btn-primary">Узнать подробнее</a>
    </div>
  </div>
  </div>
</div>
    {% endfor %}
  </div>

</div>

{% endblock %}
